n8n-workflow-template.json
{
    "name": "AI Agent Tool Calling - TEMPLATE",
    "description": "This is a sanitized template. Replace placeholder values with your own credentials.",
    "nodes": [
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -400,
                20
            ],
            "id": "google-gemini-chat-model",
            "name": "Google Gemini Chat Model1",
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
                    "name": "Your Google Gemini API Account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEETS_URL_HERE",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "HE",
                    "mode": "name"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.5,
            "position": [
                -80,
                20
            ],
            "id": "google-sheets-tool",
            "name": "Google Sheets",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Your Google Sheets Account"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -240,
                20
            ],
            "id": "simple-memory",
            "name": "Simple Memory",
            "disabled": true
        },
        {
            "parameters": {
                "name": "calculate_strength_properties",
                "description": "This tool will take the uniform load (q) and length (L) and calculate the maximum bending moment (Mmax) and the required section modulus (Wreq). The LLM must call this first.",
                "jsCode": "// New Tool Code for calculate_strength_properties\nfunction calculate_strength_properties(q_kN_per_m, L_m) {\n  const fy_N_per_mm2 = 235;\n  const gamma_M = 1.0;\n\n  // Convert units for calculations\n  const q_N_per_mm = q_kN_per_m / 1; // kN/m → N/mm\n  const L_mm = L_m * 1000;         // m → mm\n\n  // Calculate Mmax: Mmax = qL^2/8\n  const Mmax_N_mm = (q_N_per_mm * Math.pow(L_mm, 2)) / 8;\n\n  // Calculate Wreq: Wreq = (Mmax * γM) / fy\n  const Wreq_mm3 = (Mmax_N_mm * gamma_M) / fy_N_per_mm2;\n\n  return JSON.stringify({\n    Mmax: Mmax_N_mm,\n    Wreq: Wreq_mm3\n  });\n}\nconst data = JSON.parse(query);\n\nreturn calculate_strength_properties(data.q, data.L)"
            },
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.1,
            "position": [
                80,
                20
            ],
            "id": "calculate-strength",
            "name": "calculate_strength_properties"
        },
        {
            "parameters": {
                "name": "calculate_deflection_check",
                "description": "This tool will take the deflection properties and original inputs and calculate the deflection. The LLM will call this after selecting a profile from the sheet.",
                "jsCode": "// New Tool Code for calculate_deflection_check\nfunction calculate_deflection_check(q_kN_per_m, L_m, E_N_per_mm2, I_x10e6_mm4) {\n  // Convert units for calculations\n  const q_N_per_mm = q_kN_per_m / 1;             // kN/m → N/mm\n  const L_mm = L_m * 1000;                     // m → mm\n  const I_mm4 = I_x10e6_mm4 * 1000000;          // ×10^6 mm^4 → mm^4\n\n  // Deflection formula: f = (5 * q * L^4) / (384 * E * I)\n  const f_max_mm = (5 * q_N_per_mm * Math.pow(L_mm, 4)) / (384 * E_N_per_mm2 * I_mm4);\n\n  return f_max_mm;\n}\ndata = JSON.parse(query);\nreturn calculate_deflection_check(data.q, data.L, data.E, data.I)"
            },
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1.1,
            "position": [
                260,
                20
            ],
            "id": "calculate-deflection",
            "name": "calculate_deflection_check"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "System: **Role:** You are a specialized assistant with two primary functions: 1. Act as a structural engineering assistant for selecting HE steel profiles. 2. Answer technical questions using a document-specific knowledge base. You must strictly follow the appropriate workflow below based on the user's input. --- ## ⚙️ Workflow 1: Structural Engineering Calculation **Trigger:** This workflow is activated ONLY if the user's input provides both a span length (L in meters) and a uniform load (q in kN/m). If this condition is met, you MUST follow these steps: ### **Step 1: Calculate Required Section Properties** Use the **\"Strength Calculation\" tool**. Provide the user's input in JSON format: { \"q\": [value], \"L\": [value] } ### **Step 2: Select the Optimal HE Profile** Use the **\"Google Sheet tool\"** to find the first profile where its Wel,y is greater than or equal to the required section modulus (Wreq) from Step 1. ### **Step 3: Check Deflection (Serviceability)** Use the **\"Deflection Check\" tool\"**, providing q, L, E=210000, and the Iy value from the profile selected in Step 2. ### **Final Output Format for Workflow 1** Your final answer for this workflow must include: 1. **Step-by-step Calculations:** Show tool outputs and what they mean. 2. **Chosen Profile:** State the selected HE profile name. 3. **Profile Properties:** List Wel,y, Iy, and Weight per meter. 4. **Final Verdict:** Clearly state if the profile passes both the Strength check ✅ and Deflection check ✅. 5. **Alternative Suggestion:** If the profile fails deflection, recommend the next larger profile that passes both checks. --- ## 📚 Workflow 2: General & Technical Question Answering **Trigger:** This workflow is the default and is activated if the user's input **does not** meet the criteria for Workflow 1 (i.e., it is not a structural calculation with L and q). If this condition is met, you MUST treat the input as a question for your knowledge base and follow this procedure: 1. **Call the Correct Tool:** You **MUST** use the **\"Vector Store Q&A\" tool** to find the answer. Do not use your own general knowledge. 2. **Present the Tool's Output Directly:** After the tool runs and provides an answer, your entire final response to the user must be the **exact, verbatim text** from that tool's output. * **Do not** add any introductory or concluding phrases (e.g., \"Here is the answer...\"). * **Do not** rephrase, summarize, or alter the information in any way. * **Do not** acknowledge the tool or any underlying models. Don't get stuck in iteration loops and calling tools for no reason\nDo not call the tool multiple times \nTool call results (if it's empty, there is a probability that you didn't need it):",
                    "maxIterations": 50
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.8,
            "position": [
                0,
                -200
            ],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_DRIVE_FILE_ID",
                    "mode": "list",
                    "cachedResultName": "your-document.txt"
                },
                "options": {
                    "binaryPropertyName": "data",
                    "googleFileConversion": {},
                    "fileName": ""
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1120,
                380
            ],
            "id": "google-drive",
            "name": "Google Drive",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
                    "name": "Your Google Drive Account"
                }
            }
        },
        {
            "parameters": {
                "mode": "insert",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "YOUR_PINECONE_INDEX_NAME",
                    "mode": "list"
                },
                "options": {
                    "pineconeNamespace": "YOUR_NAMESPACE"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.1,
            "position": [
                1300,
                380
            ],
            "id": "pinecone-insert",
            "name": "Pinecone Vector Store",
            "credentials": {
                "pineconeApi": {
                    "id": "YOUR_PINECONE_CREDENTIAL_ID",
                    "name": "Your Pinecone Account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "binary",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1,
            "position": [
                1440,
                600
            ],
            "id": "data-loader",
            "name": "Default Data Loader"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                1440,
                760
            ],
            "id": "text-splitter",
            "name": "Recursive Character Text Splitter"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                1220,
                600
            ],
            "id": "embeddings-1",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "Your OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "name": "vectore_store_result",
                "description": "call this tool to access information to answer the Users questions."
            },
            "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
            "typeVersion": 1,
            "position": [
                560,
                -60
            ],
            "id": "vector-store-tool",
            "name": "Answer questions with a vector store"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                800,
                80
            ],
            "id": "openai-chat",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "Your OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "pineconeIndex": {
                    "__rl": true,
                    "value": "YOUR_PINECONE_INDEX_NAME",
                    "mode": "list"
                },
                "options": {
                    "pineconeNamespace": "YOUR_NAMESPACE"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.1,
            "position": [
                480,
                100
            ],
            "id": "pinecone-query",
            "name": "Pinecone Vector Store1",
            "credentials": {
                "pineconeApi": {
                    "id": "YOUR_PINECONE_CREDENTIAL_ID",
                    "name": "Your Pinecone Account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                500,
                240
            ],
            "id": "embeddings-2",
            "name": "Embeddings OpenAI1",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "Your OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "YOUR-WEBHOOK-ID-GENERATE-A-NEW-ONE",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -520,
                -220
            ],
            "id": "webhook-trigger",
            "name": "Webhook",
            "webhookId": "YOUR-WEBHOOK-ID-GENERATE-A-NEW-ONE"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                520,
                -240
            ],
            "id": "webhook-response",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "calculate_strength_properties": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "calculate_deflection_check": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive": {
            "main": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Recursive Character Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Default Data Loader",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Answer questions with a vector store": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Answer questions with a vector store",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store1": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Answer questions with a vector store",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI1": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store1",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}